 .foto{
    border-radius: 50%;
    max-width: 10rem;
    max-height: 10rem;
    border-style: solid;
    margin: 1rem;
}

.nombre{
    font-size: 3rem;
}

.boton{
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 20%;
    padding: 0.2rem;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in;
    list-style-type: none;
    box-shadow:8px 8px 10px 0
}

.main{
    text-align: center;
    background-color: azure;
    
}

.nav{
    display: flex;
    background-color: rgb(161, 161, 161);
    justify-content: space-between;
    align-items: center;
    background-size: auto;
    color: white;

}

.titulos{
    color: rgba(5, 30, 98, 0.908) ;
    font-size: 3rem;
}

.subtitulos{
    color: rgba(54, 93, 200, 0.908) ;
    font-size: 2rem;
}
.subtitulos2{
    color: rgba(54, 93, 200, 0.908) ;
    font-size: 1rem;
}


footer{
    background-color: rgba(54, 93, 200, 0.908);
    display: flex ;
    justify-content: center ;
    align-items: center ;
    padding: 1em;
}

.redes{
    padding: 4px;
   margin-right: 1rem;

}
